#logo {
    height: 50px;
}

.font-13 {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

#button-nav {
    border-radius: 4px;
    padding: 6px 20px;
    border: none;
    background-color: red;
    font-weight: bold;
    
}

#button-nav:hover {
    background-color: rgb(176, 26, 26);
}

.jumbotron-img {
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.max-width-100 {
    max-width: 100%;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}

.font-60 {
    font-size: 60px;
}

.checkbox-top:hover {
    background-color: rgb(161, 83, 83);
    color: red;
}

.right {
    float: right;
}

.red {
    color: red;
}


.card-banner {
    background-color:
}

/* a tag hover text decoration none */
.no-underline:hover {
    text-decoration: none;
  }

.max-height-195 {
    max-height: 195.35px;
}

/*card hover*/ 
.baseBlock {
	border-radius: 8px !important;
	overflow: hidden;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

.width-100 {
    width: 100%;
}



/* SHIFT header */
nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #000000;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ff880089;
    
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }


 

  /* NAVIGATION */

  
  
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  

  .content-feeds > div {
      background-color: rgb(82, 80, 80);
      color: white;
  }

  .input-hide > input[type="radio"] {
    display:none;
}

